<div class="contents devise-form">
  <h2>会員ログイン</h2>
  <%= flash[:error] %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <h3><%= f.label :email, value: "ID" %></h3>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: 'test1@test1' %>
    </div>

    <div class="field">
      <h3><%= f.label :password, 'パスワード' %></h3>
      <%= f.password_field :password, autocomplete: "current-password", value: '000000' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, value: 'パスワードを保存する' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class: 'btn' %>
    </div>
  <% end %>

  <%= render "public/users/shared/links" %>

</div>