<div class="menu-form">
  <%= form_with model: [restaurant, menu], url: path, local: true do |f| %>
    <section class="menu-status">
      <div class="menu-form-table">
        <table>
          <tbody>
            <tr>
              <td><%= f.label :title, value: 'メニュー名' %></td>
              <td><%= f.text_field :title %></td>
            </tr>
            <tr>
              <td><%= f.label :regular_price, value: '正規価格（税抜き）：' %></td>
              <td><%= f.number_field :regular_price %></td>
            </tr>
            <tr>
              <td><%= f.label :discount_price, value: '提供価格（税抜き）：' %></td>
              <td><%= f.number_field :discount_price %></td>
            </tr>
            <tr>
              <td><%= f.label :reservation_method, value: '予約方法' %></td>
              <td><%= f.select :reservation_method, Menu.reservation_methods.keys.map {|method| [method]} %></td>
            </tr>
            <tr>
              <td><%= f.label :is_sale_flag, value: '販売ステータス' %></td>
              <td><%= f.select :is_sale_frag, [['販売中', true], ['販売停止中', false]] %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="menu-form-image">
        <h3>メニュー画像</h3>
        <div class="menu-image"><%= f.attachment_field :menu_image %></div>
      </div>
      <%# <div class="menu-form-tag"></div> %>
    </section>
    <section class="menu-form-content">
      <p><%= f.label :content, value: '内容' %></p>
      <%= f.text_area :content, size: '50x10' %>
    </section>
    <section class="menu-form-cancel">
      <p><%= f.label :cancel, value: 'キャンセル規定' %></p>
      <%= f.text_area :cancel, size: '50x10' %>
    </section>
    <div class="submit"><%= f.submit "#{submit}", class: 'btn' %></div>
  <% end %>
</div>
