<div class="menu-form">
  <%= form_with model: [restaurant, menu], url: path, local: true do |f| %>
    <section class="menu-status">
      <div class="menu-form-table">
        <table>
          <tbody>
            <tr>
              <td><%= f.label :title, value: 'メニュー名' %></td>
              <td><%= f.text_field :title %></td>
            </tr>
            <tr>
              <td><%= f.label :regular_price, value: '正規価格（税抜き）：' %></td>
              <td><%= f.number_field :regular_price %> 円</td>
            </tr>
            <tr>
              <td><%= f.label :discount_price, value: '提供価格（税抜き）：' %></td>
              <td><%= f.number_field :discount_price %> 円</td>
            </tr>
            <tr>
              <td><%= f.label :reservation_method, value: '予約方法' %></td>
              <td><%= f.select :reservation_method, Menu.reservation_methods.keys.map {|method| [method]} %></td>
            </tr>
            <tr>
              <td><%= f.label :is_sale_frag, value: '販売ステータス' %></td>
              <td><%= f.select :is_sale_frag, [['販売中', true], ['販売停止中', false]] %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="menu-form-image">
        <h3>メニュー画像</h3>
        <div class="menu-image"><%= f.attachment_field :menu_image %></div>
        <h3>タグ</h3>
        <h4>タグ一覧</h4>
        <% menu_tags.each do |menu_tag| %>
          <%= Tag.find(menu_tag.tag_id).name %>
          <%= link_to '削除', {controller: 'menu_tags', action: 'destroy', tag_id: menu_tag, menu_id: params[:id], restaurant_id: params[:restaurant_id]}, method: :delete %>
        <% end %>
        <h4>タグの追加（一つ以上推奨）</h4>
        <% count = 0 %>
        <% tags.each do |tag| %>
          <% count = count + 1 %>
          <%# 推奨タグ7個を表示 %>
          <% if count <= 7 %>
          <div class="check-box">
            <% if menu_tags.exists?(tag_id: tag.id) %>
              <%= check_box :tag_id, tag.id, checked: true %>
              <%= label_tag :tag_id, "#{tag.name}"%>
            <% else %>
              <%= check_box :tag_id, tag.id %>
              <%= label_tag :tag_id, "#{tag.name}"%>
            <% end %>
          </div>
          <% else %>
            <% break %>
          <% end %>
        <% end %>
        <div class="add-tags">
          <%= text_field_tag :tag_name %>
          <%= button_tag '追加', type: 'button' %>
          <div id="tag-list">
          </div>
        </div>
      </div>

    </section>
    <section class="menu-form-content">
      <p><%= f.label :content, value: '内容' %></p>
      <%= f.text_area :content, size: '50x10' %>
    </section>
    <section class="menu-form-cancel">
      <p><%= f.label :cancel, value: 'キャンセル規定' %></p>
      <%= f.text_area :cancel, size: '50x10' %>
    </section>

    <div class="submit"><%= f.button "#{submit}", onclick: 'submit();', type: 'button', class: 'btn' %></div>
  <% end %>

</div>
