<div class="menus-index">
  <h1>Menus</h1>
  <table>
    <thead>
      <tr>
        <th>メニューID</th>
        <th>イメージ画像</th>
        <th>メニュー名</th>
        <th>予約状況</th>
        <th>販売状況</th>
      </tr>
    </thead>
    <% @menus.each do |menu| %>
      <tbody>
        <tr>
          <td><%= menu.id %></td>
          <td></td>
          <td><%= menu.title %></td>
          <td><%= menu.reservation_method %></td>
          <td>
            <% if menu.is_sale_frag == true %>
              <%= '販売中' %>
            <% else %>
              <%= '停止中' %>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
