<div class="contents menus-show">
  <h1>メニュー詳細</h1>
  <div class="menu-head-contents">
    <div class="menus-info">
      <ul>
        <li>メニュー名：<%= @menu.title %></li>
        <li>正規価格(税抜き)：<%= @menu.regular_price.to_s(:delimited) %> 円</li>
        <li>提供価格(税抜き)：<%= @menu.discount_price.to_s(:delimited) %> 円</li>
        <li>予約方法：<%= @menu.reservation_method %></li>
        <li>
          販売ステータス：
          <% if @menu.is_sale_frag == true %>
            <%= '販売中' %>
          <% else %>
            <%= '停止中' %>
          <% end %>
        </li>
        <li>タグ：</li>
        <% @menu_tags.each do |menu_tag| %>
          <%= Tag.find(menu_tag.tag_id).name %>
        <% end %>
      </ul>
    </div>
    <div class="menu-image">
      <h3>メニュー画像</h3>
      <%= attachment_image_tag @menu, :menu_image, width: 300, height: 200, fallback: "no_image.png" %>
    </div>
  </div>
  <div class="menus-show-body">
    <div class="menus-content">内容：<br><%= @menu.content %></div>
    <div class="cancel">キャンセル規定：<br><%= @menu.cancel %></div>
  </div>
  <div class="menus-show-foot">
    <%= link_to '編集', edit_owner_restaurant_menu_path(current_owner_restaurant, @menu) %>
    <%= link_to '削除', owner_restaurant_menu_path(current_owner_restaurant, @menu), method: :delete,
      data: {
        confirm: "
          削除しますか？

          編集から販売状況を「停止中」に変更することでもメニューを非公開にすることができます。
          削除を続ける場合は「OK」を押してください。
        "} %>
    <%= link_to '一覧に戻る', owner_restaurant_menus_path %>
  </div>
</div>
