<%= hidden_field_tag :restaurants_json, value: "#{@restaurants_json}" %>

<div class="top">
  <section calss="top-header">
    <div class="header-image"></div>
  </section>
  <section class="top-main">

  <%# メインコンテンツ %>
    <div class="top-contents">
      <ul class="flex top-nav" >
        <%= link_to about_path do %>
          <li>サービス紹介</li>
        <% end %>
        <%= link_to do %>
          <li>特集</li>
        <% end %>
        <%= link_to do %>
          <li>ランキング</li>
        <% end %>
        <%= link_to do %>
          <li>お知らせ</li>
        <% end %>
      </ul>
      <div class="restaurants-all">
        <h2>レストラン一覧</h2>
        <% @restaurants.each do |restaurant| %>
          <div class="flex top-restaurant">
            <div class="restaurant-image">
              <%= attachment_image_tag restaurant, :restaurant_image, fallback: "no_image.png" %>
            </div>
            <div class="restaurant-info">
              <h3><%= link_to "#{restaurant.name}", public_restaurant_path(restaurant) %></h3>
              <p><%= restaurant.prefecture + restaurant.city %></p>
            </div>
          </div>
        <% end %>
        <h2>メニュー一覧</h2>
        <% @menus.each do |menu| %>
          <div class="flex top-menus">
            <div class="menu-image">
              <%= attachment_image_tag menu, :menu_image, fallback: "no_image.png" %>
            </div>
            <div class="menu-info">
              <h3><%= link_to "#{menu.title}", public_menu_path(menu) %></h3>
              <small>店名：<%= @restaurants.find(menu.restaurant_id).name %></small>
              <p>正規価格：<%= menu.regular_price.to_s(:delimited) %> 円</p>
              <p>提供価格：<%= menu.discount_price.to_s(:delimited) %> 円</p>
            </div>
          </div>
        <% end %>

      </div>
    </div>

    <%# サイドバー %>
    <div class="top-side">
      <% if public_user_signed_in? %>
        <div class="simple-mypage">マイページ</div>
      <% else %>
        <div class="new-registration">
          <%= link_to '新規登録', new_public_user_registration_path, class: "btn registration" %>
          <p>登録済みの方は<%= link_to 'こちら', new_public_user_session_path%></p>
        </div>
      <% end %>
      <div class="new-menus">
        <p class="new-menus-list">最近更新されたメニュー</p>
        <div>
          <ul>
            <% @menus.each do |menu| %>
              <li>
                <%= link_to "#{menu.title}", public_menu_path(menu) %></p>
                <%= attachment_image_tag menu, :menu_image, width: 200, height: 100, fallback: "no_image.png" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="search">
        <p id="get-position"><u>周辺から探す</u></p>
        <small><span id="loading"></span></small>
        <p class="location-result true hidden"></p>
        <p class="location-result false hidden">現在地情報が利用できませんでした。</p>
        <p class="location-result error hidden">レストラン情報が取得できませんでした。</p>
        <div id="map" class="location-result true hidden"></div>
      </div>
    </div>

  </section>
</div>
