<div class="contents public-menus-index">
  <h2><i><u>Menus</u></i></h2>
  <% @menus.each do |menu| %>
    <div class="flex menus">
      <div><%#= attachment_image_tag :menu_image, menu %></div>
      <div class="menu-body">
        <h3>メニュー名</h3>
        <%= link_to "#{menu.title}", public_menu_path(menu) %>
        <h3>価格</h3>
        <h4>正規価格</h4>
        <p><%= menu.regular_price %> 円</p>
        <h4>提供価格</h4>
        <p><%= menu.discount_price %> 円</p>
        <h3>店舗名</h3>
        <%= link_to "#{@restaurants.find(menu.restaurant_id).name}", public_restaurant_path(menu.restaurant_id) %>
        <h3>住所</h3>
        <%= @restaurants.find(menu.restaurant_id).address %>
      </div>
    </div>
  <% end %>
</div>
