<div class="contents public-menus-show">
  <h2>メニュー内容</h2>
  <h3>店舗名</h3><%= @restaurant.name %>
  <div class="menu-show">
    <div class="flex menu-head"></div>
      <div class="menu-body">
        <h3>メニュー名</h3>
        <%= @menu.title %>
        <h3>正規価格（税込）：</h3>
        <%= @menu.regular_plice %>
        <h3>提供価格（税込）：</h3>
        <%= @menu.discount_plice %>
        <h3>予約方法</h3>
        <%= @menu.reservation_method %>
        <h3>タグ</h3>
      </div>
      <div class="menu-image"> </div>
    <div class="menu-contents">
      <h3>内容：</h3>
      <%= @menu.content %>
    </div>
    <div class="menu-cancel">
      <h3>キャンセル規定</h3>
      <%= @menu.cancel %>
    </div>
  </div>
  <div class="reservation">
    <%= form_with url: new_public_user_reservation_path(current_public_user), method: :get, local: true do |f| %>
      <%= f.hidden_field :menu_id, value: params[:id] %>
      <%= f.submit '予約情報を入力する' %>
    <% end %>
  </div>
</div>