<div class="contents public-reservation-index">
  <h2>予約履歴</h2>
  <table>
    <thead>
      <tr>
        <th>予約ID</th>
        <th>予約確定日時</th>
        <th>来店（予定）日</th>
        <th>店舗名</th>
        <th>人数</th>
        <th>メニュー</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.created_at %></td>
        <td><%#= reservation.id %></td>
        <td><%= @restaurants.find(@menus.find(reservation.menu_id).restaurant_id).name %></td>
        <td><%= reservation.people %> 名</td>
        <td><%= link_to "#{@menus.find(reservation.menu_id).title}", public_user_reservation_path(current_public_user, reservation) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
