<div class="restaurant-edit">
  <section class="contents restaurant-edit">
    <%= form_with model: @restaurant, url: owner_restaurant_path, method: :patch, local: :true do |f| %>
      <table class="restaurant-edit-form">
        <tbody>
          <tr>
            <td><h3><%= f.label :name, value: '店舗名', class: 'restaurant-show-h1' %></h3></td>
            <td></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><h3>住所</h3></td>
            <td><p><%= f.label :postal_code, value: '郵便番号(半角7桁、ハイフンなし)' %></p></td>
            <td><%= f.text_field :postal_code, placeholder: '1234567', class: 'number-form' %><br><span class="error-message number-error"></span></td>
          </tr>
          <tr>
            <td></td>
            <td>都道府県</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>市区町村</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>番地</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>建物名</td>
            <td></td>
          </tr>
          <tr>
            <td><h3><span>連絡先</span></h3></td>
            <td><p><%= f.label :phone_number, value: '電話番号(半角数字、ハイフンなし)' %></p></td>
            <td><%= f.text_field :phone_number, class: 'number-form' %><br><span class="error-message number-form"></span></td>
          </tr>
          <tr>
            <td><h3>ホームページURL</h3></td>
            <td><p><%= f.label :corporate, value: 'ホームページURL' %></p></td>
            <td><%= f.text_field :corporate %></td>
          </tr>
          <tr>
            <td><h3>SNS</h3></td>
            <td><p><%= f.label :twitter %></p></td>
            <td><%= f.text_field :twitter %></td>
          </tr>
          <tr>
            <td></td>
            <td><p><%= f.label :facebook%></p></td>
            <td><%= f.text_field :facebook %></td>
          </tr>
          <tr>
            <td></td>
            <td><p><%= f.label :instagram %></p></td>
            <td><%= f.text_field :instagram %></td>
          </tr>
          <tr>
            <td><h3>店舗紹介</h3></td>
            <td></td>
            <td><%= f.text_area :introduction, size: '50x10' %></td>
          </tr>
          <tr>
            <td><h3>完了メッセージ</h3></td>
            <td>
              お客様のご予約が完了された時に<br>
              表示されるメッセージです。<br>
              伝言等あればご記載ください。
            </td>
            <td><%= f.text_area :completion_message, size: '50x10' %></td>
          </tr>

        </tbody>
      </table>
      <div class="submit"><%= f.submit '情報を更新する', id: 'restaurant-update', class: 'btn' %></div>
      <div><%= link_to '店舗情報に戻る', owner_restaurant_path(@restaurant) %></div>
    <% end %>
  </section>
</div>
