<div class="user-links">
  <ul>
    <li><%= link_to 'プロフィールを確認', public_users_profile_path(@current_user) %></li>
    <li><%= link_to 'ブックマーク', public_user_bookmarks_path(@current_user) %></li>
    <li><%= link_to '登録情報確認', public_users_info_path(@current_user) %></li>
    <% if request.fullpath.include?('info') %>
      <li><%= link_to 'パスワードの変更はこちら', edit_public_user_registration_path(@current_user) %></li>
    <% end %>
    <li><%= link_to 'レビュー一覧' %></li>
    <li><%= link_to '現在の予約状況', public_user_reservations_path(@current_user) %></li>
    <li><%= link_to '予約履歴', public_user_reservations_path(@current_user) %></li>
  </ul>
</div>
