<div class="users-edit">
  <h2>登録情報編集</h2>
  <%= form_with model: @current_user, url: public_user_path(@current_user), local: true, method: :patch do |f| %>
    <div class="edit-head">
      <h2><%= "#{@current_user.name_family}" + "#{@current_user.name_first}" %> 様</h2>
      <div class="users-edit-form">
        <h3><%= f.label :handle_name, value: 'ハンドルネーム：' %></h3>
        <%= f.text_field :handle_name %>
      </div>
      <div class="profile-image">
        <div class="users-edit-form"></div>
      </div>
      <h3>SNS</h3>
      <div class="users-edit-form">
        <%= f.label :twitter %>
        <%= f.text_field :twitter %>
      </div>
      <div class="users-edit-form">
        <%= f.label :facebook %>
        <%= f.text_field :facebook %>
      </div>
      <div class="users-edit-form">
        <%= f.label :instagram %>
        <%= f.text_field :instagram %>
      </div>
      <h3>連絡先</h3>
      <div class="users-edit-form">
        <%= f.label :phone_number, value: '電話番号' %>
        <%= f.text_field :phone_number %>
      </div>
      <div class="users-edit-form">
        <%= f.label :email, value: 'メールアドレス1' %>
        <%= f.text_field :email, placeholder: '必須' %>
      </div>
      <div class="users-edit-form">
        <%= f.label :email_sub, value: 'メールアドレス2' %>
        <%= f.text_field :email_sub %>
      </div>
      <h3>生年月日</h3>
      <div class="users-edit-form">
        <%= f.label :birth_year %>
        <%= f.text_field :birth_year %>
      </div>
      <div class="users-edit-form">
        <%= f.label :birth_month %>
        <%= f.text_field :birth_month %>
      </div>
      <div class="users-edit-form">
        <%= f.label :birth_day %>
        <%= f.text_field :birth_day %>
      </div>
      <%= f.submit '変更を保存', class: 'btn' %>
    </div>
  <% end %>

  </div>
  <div class="btn-area">
    <div class="destroy"><%= link_to '退会する', public_users_withdraw_path(@current_user), class: 'btn' %></div>
  </div>
</div>