<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Matchi</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header">
      <div class="logo-image"></div>
      <div class="logout"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></div>
    </div>
  </header>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
