<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Matchi</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header">
      <div class="logo-image"></div>
      <div class="nav">
        <nav>
          <ul class="header-ul">
            <% url = request.fullpath %>
            <%# urlに'public'があれば一般ユーザー用ヘッダー %>
            <% if url.include?('public') %>

            <%# urlに'owner'があれば店舗用ヘッダー %>
            <% elsif request.fullpath.include?('owner') %>
              <% if owner_restaurant_signed_in? %>
                <li><%= link_to 'ログアウト', destroy_owner_restaurant_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to '店舗ログイン', new_owner_restaurant_session_path %></li>
              <% end %>
              <% if master_admin_signed_in? %>
                <li><%= link_to '管理者トップ', new_master_admin_session_path %></li>
              <% end %>

            <%# urlに'master'があれば管理者用ヘッダー %>
            <% elsif request.fullpath.include?('master') %>
              <li><%= link_to '店舗新規登録', new_owner_restaurant_registration_path %></li>
              <li><%= link_to '店舗ログイン', new_owner_restaurant_session_path %></li>
              <% if master_admin_signed_in? %>
                <li><%= link_to 'ログアウト', destroy_master_admin_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to '管理者ログイン', new_master_admin_session_path %></li>
              <% end %>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>

  <footer>
    <small>©︎MasaoSasaki</small>
  </footer>
</html>
